*
    margin: 0
    padding: 0
input
    display inline-block
    border-style: none;
button
    display inline-block
    float left
    width 10vw
    height 100%
    border: none
    text-decoration: none
img 
    width 100%
    height 100%
a
    text-decoration: none
ul
    text-decoration: none
li
    display inline-block
    text-decoration: none 
body
    height 100vh
    width 100vw
    background-color #f7f7f7
    
.menu-top
        height 5vh
        width 100vw
        background-color #1678ff
        button
            font-size: .6rem
            background-color #1678ff
            color #fff
        input
            float left
            height 70%
            width 80%
            margin-top: 1vh
        a
            display inline-block
            float right 
            margin-right: 3vw
            width 5vw
            img 
                margin-top: 1vh
                
                height 100%
.menu
    height 80vh
    width 100vw
    background-color #f7f7f7
    .menu-inner
        overflow hidden
        height 23vh
        width 90vw
        margin: 1vh auto
        border-radius: 1rem
        background-color #fff
        .menu-box
            display flex
            height 20vh
            width 100%
            margin-bottom: 3vh
            border-radius: 1rem
            background-color #fff
            flex-wrap: wrap
            justify-content: space-around
            
            .menu-item
                height 10vh
                width 16vw
                img 
                    width 100%
    nav
        height 10vh
        width 100vw
        ul
            width 100%
            height 100%
            display flex
            align-content: space-around
            a
                display inline-block
                height 8vh
                width 20vw
                margin-left: 3vw
                flex:1
                .nav-item
                    position relative
                    border-radius: 1rem
                    overflow hidden
                    height 8vh
                    width 20vw
                    background-color #fff
                    .item-title
                        padding: 2vh 0 0 0
                        font-size: .8rem
                        font-weight: 700
                        color #000
                    .item-text
                        font-weight: 400
                        font-size: 0.7rem
                        color #000
                    .icon-top
                        position absolute
                        top 0
                        right 0
                        width 1.5rem
                        height 1rem
                        background-color #f47e12
                        font-size: 0.5rem
                        line-height: 1rem
                        color #fff
                        border-bottom-left-radius: 1rem
                    .icon-down
                        position absolute
                        bottom 0
                        right 0
                        width 2rem
                        img
                            width 100%
    .band
        width 100vw
        height 15vh
    .discount
        margin: 1vh auto
        width 90vw
        height 20vh
        border-radius: 0.3rem
        background-color #fff
        .discount-title
            display inline-block
            margin: 2vh 0 0 2vh
            font-size: 0.8rem
            font-weight 700
            color: #000
        .discount-inner
            width 90vw
            height 15vh
            .discount-items
                float left
                width 25vw
                height 15vh
                margin-left: 3vw 
                border: 0.03rem solid rgba(0, 0, 0,.3)
                .userRed-imgbox
                    width 100%
                    height 100%
                    background-color #f74e3b
                    img 
                        width 100%
                        height 100%
                .item-usershop
                    width 100%
                    height 100%
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    .imgbox
                        width 100%
                        height 7.5vh
                        img 
                            height 7.5vh
                            width 25vw
                    .item-usershop-title
                        margin: 2rem 0 0 0.3rem
                        color: rgba(0, 0, 0,.7)
                    .item-usershop-text
                        margin: 1rem 0 0 0.3rem
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        color #f74e3b
.bottom
    position absolute
    bottom 0
    display: flex
    height 10vh
    width 100vw
    background-color #fff
    justify-content: center
    .icon
        height 10vh
        width 20vw
        flex 1
        text-align: center
        .bottom-top
            display block
            text-align: center
            i
                font-size: 2rem
                color #7f7f7f
        .bottom-text
            display: block
            font-size: 1rem
            text-align: center
            color #7f7f7f